<%= simple_form_for(@opportunity) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :how_to %>
    <%= f.association :city %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
