<p id="notice"><%= notice %></p>

<div class="container mtb">
  <div class="row">

    <div class="col-lg-8">
      <% @opportunities.each do |opportunity| %>
        <%= link_to opportunity do %>
          <h3 class="ctitle"><%= opportunity.title %></h3>
        <% end %>
        <p><csmall><%= opportunity.created_at %></csmall> | <csmall2><%= opportunity.city %></csmall2></p>
        <div class="hline"></div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'New Opportunity', new_opportunity_path %>
